body {
    background-image: url("../images/bg.jpg");
    background-size: fill;
    background-position: center, center;
    background-repeat: no-repeat;
    color: ivory;
}

header,body, nav {
    padding: 20px;
    text-align: center;
    font-family: "Times New Roman";
    vertical-align: baseline;
    transform: scale(1.125);
    margin: 10px;
}

header {
    background-color: transparent;
}



.Work #work  {
    background-color: transparent;
    margin: 25px 50px 75px 100px;
}


.Work #work #subjects {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    padding: 10px;
    margin: 5px auto;
    list-style: none;
   
}

.Work #work #subjects a {

    color: ivory;
    justify-content: center;
    
}

.nav {
    background-color: transparent;
    display: grid;
    grid-auto-flow: column;
    width: min(100% - 5rem);
    justify-content: center;
    gap: 0.5em;
    padding: 10px;
    margin: 5px auto;
    list-style: none;
    text-decoration: none;
}

.nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    color: ivory;
    justify-content: center;
    
}

.nav a:hover {
    color: #f1f1f1;
}

.mobileNav {
    display: none;
    grid-auto-flow: column;
    height: 80%;
    width: 200px;
    z-index: 1;
    left: 0;
    overflow-x: hidden;  
    opacity: 50%;
    color: ivory;
}

.mobileNav a {
    grid-auto-flow: column;
    padding: 5px;
    text-decoration: none;
    font-size: 8px;
    display: block;
    transition: 0.3s;
    color: ivory;
    justify-content: center;
}



@media screen and (max-width: 600px) {
    .nav {
        display: none;
    }
    .mobileNav {
        display: block;
        width: 100px;
        position: fixed;
        top: 75%;
        left: 0;
    }

    .mobileNav a {
        font-size: 15px;

    }
}

@media screen and (max-width: 1000px) {
    .Work #work #subjects {
        grid-auto-flow: row;
    }
}

#page-container {
    position: relative;
    margin-top: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    flex-grow: 1;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }