body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: ivory;
    min-height: 100vh;
}

header,body, nav {
    padding: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    vertical-align: baseline;
    transform: scale(1.125);
}

header {
    background-color: transparent;
}


#page-container {
    position: relative;
    margin-top: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    flex-grow: 1;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }

.content h1 {
    font-size: 4.5em;
    font-weight: bold;
    text-align: center;
}

.content p {
    font-size: 1.5em;
    text-align: center;
}

.nav #list {
    background-color: transparent;
    display: grid;
    grid-auto-flow: column;
    width: min(100% - 5rem);
    justify-content: center;
    gap: 0.5em;
    padding: 10px;
    margin: 5px auto;
    list-style: none;
    text-decoration: none;
}

.nav #list li {
    background-color: transparent;
    padding: 10px;
    margin: 5px auto;
    list-style: none;
    width: 25%;
    font-size: 2em;
    
}

.nav #list li a:link {
    color: ivory;
    text-decoration: none;
}
.nav #list li a:visited {
    color: ivory;
    text-decoration: none;
}

.nav #list li a:hover {
    color: ivory;
    text-decoration: underline;
}

.nav #list li a:active {
    color: ivory;
    text-decoration: underline;
}

@media (max-width: 650px){
    .nav #list {
        grid-auto-flow: row;
        text-align: center;
    }

}





