body {
    background-image: url("../images/bg.jpg");
    background-size: fill;
    background-position: center, center;
    background-repeat: no-repeat;
}

header,body, nav {
    padding: 20px;
    text-align: center;
    font-family: "Goudy Old Style";
    vertical-align: baseline;
    transform: scale(1.125);
}

header {
    background-color: transparent;
}

header.nav {
    background-color: transparent;
}

about, contact, work, intro {
    background-color: transparent;
}

#Contact #contact .container .icons {
    background-color: transparent;
    display: grid;
    grid-auto-flow: column;
    border: 3px solid black;
    width: min(100% - 1rem);
    gap: 1em;
    padding: 10px;

    
}

#Contact #contact .fields {
    background-color: transparent;
    display: grid;
    grid-auto-flow: row;
    
}

